<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>To Do List</title>
</head>
<body>

    <div class="mainPage">
        <h1>Your VERY OWN To Do List!</h1>
        <span>Sign Up or Login and get productive!</span>
        <a class="submitButton" href="/login"> Login</a>
        <a class="submitButton" href="/signup"> Sign Up</a>
    </div>

</body>
</html>