<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Happy Lists</title>
</head>
<body>
<div class="background">

    <div class="raisedForm">

        <h1 class="loginH1">Log In</h1>

        <div class="alerts">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
        </div>
            <form class="form" action="/login" method="POST">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input class="submitButton" type="submit">
            </form>
    </div>    
</div>    
</body>
</html>