<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Happy Lists</title>
</head>
<body>
<div class="background">

    <div class="raisedForm">
        <div class="signupError alerts">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
        </div>
    
            <form class="form" action="/signup" method="POST">
                <input type="text" class="signupUsername" name="userName" placeholder="User Name">
                <input type="email" class="signupEmail" name="email" placeholder="Email">
                <input type="password" class="signupPassword" name="password" placeholder="Password">
                <input type="password" class="signupConfirmPassword" name="confirmPassword" placeholder="Confirm Password">
                <button class="submitButton" type="submit">Sign Up</button>
            </form>
    </div>

</div>

</body>
</html>